/* Mixins */
/* General */
body {
  background-image: linear-gradient(to top, #f7bc97, #f8853e, #f8853e, #eeb18b);
  color: #080707;
  font-family: 'Mali', cursive;
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera cabecera" "cuerpo cuerpo cuerpo cuerpo" "cuerpo cuerpo cuerpo cuerpo" "cuerpo cuerpo cuerpo cuerpo" "pie pie pie pie" "pie pie pie pie";
  gap: 1%; }

header {
  grid-area: cabecera; }

main {
  grid-area: cuerpo; }

footer {
  grid-area: pie;
  background-image: linear-gradient(to right, #eeb18b, #ee9259); }

a {
  text-decoration: none;
  color: #080707; }

/* Logo superior */
.logoprincipalsuperior {
  display: flex; }

.imgNakama {
  height: 150px;
  width: 300px;
  margin: auto;
  border-radius: 50%; }

/* Nav */
.barraprincipal {
  background-image: linear-gradient(to right, #f1c3c1, #eeb18b, #ee9259);
  list-style: none;
  border: 3px solid #080707;
  font-style: sans-serif;
  font-size: 26px; }

.nav-link {
  color: #080707; }
  .nav-link:hover {
    background-color: #bb6631; }

.menuhamburguesa {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  background-color: #bb6631; }

.barrahamburguesa {
  background-image: linear-gradient(to right, #f1c3c1, #eeb18b, #ee9259);
  list-style: none;
  border: 3px solid #080707;
  font-style: sans-serif;
  font-size: 26px; }

.botonhamburguesa {
  display: none; }

.nav-hamburguesa {
  color: #080707; }
  .nav-hamburguesa:hover {
    background-color: #bb6631; }

/* Titulos */
h1 {
  text-align: center;
  text-decoration-line: underline;
  margin-bottom: 2%;
  margin-top: 1%; }

/* Pie de pagina */
.fin {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%; }

.facebook {
  color: #111196; }
  .facebook:hover .facebook {
    color: white; }

.instagram {
  color: #bc2a8d; }
  .instagram:hover.instagram {
    color: white; }

.whatsapp {
  color: #0d570d; }
  .whatsapp:hover.whatsapp {
    color: white; }

.navfinal {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%; }
  .navfinaltxt {
    text-decoration: none;
    font-size: 15px;
    color: black; }
    .navfinaltxt:hover.navfinaltxt {
      text-decoration: none;
      color: black; }

.cierre {
  margin-top: 1%;
  text-align: center;
  font-size: 15px;
  border-top: solid 5px #f1c3c1; }

/* Media queries */
@media only screen and (max-width: 425px) {
  h1 {
    margin-bottom: 8%; } }

@media only screen and (max-width: 700px) {
  .nav-link {
    display: none; }
  .botonhamburguesa {
    display: flex;
    background-color: black; }
  .barrahamburguesa {
    position: absolute;
    display: inline-block;
    margin-left: 72px;
    z-index: 1; }
  .nav-hamburguesa {
    display: block; }
  .interiormenu {
    display: block; }
  .barraprincipal {
    border: none; } }

/* INDEX */
.logoindex {
  height: 300px;
  width: 500px;
  border: solid 3px black;
  margin: auto;
  display: flex;
  padding: 2px; }

.inicionakama {
  height: 290px;
  width: 490px;
  align-items: center; }

.textoindex {
  text-align: center;
  margin: 1%; }

.previewindex {
  margin: auto;
  display: flex;
  justify-content: space-evenly; }

.card {
  height: 320px;
  width: 200px;
  align-content: center;
  background-color: #eeb18b;
  padding: 10px; }
  .card:hover {
    background-color: #bb6631; }
  .cardImg {
    margin: auto;
    height: 200px;
    width: 200px; }

@media only screen and (max-width: 700px) {
  .logoindex {
    height: 200px;
    width: 300px; }
  .inicionakama {
    height: 190px;
    width: 290px; }
  .previewindex {
    margin: auto;
    display: flex;
    flex-wrap: wrap; } }

/* Conocenos */
.subconocenos {
  text-decoration: underline;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 5%; }

.imgjapones {
  height: 250px;
  width: 300px;
  margin-left: 5%; }

.imgnosotras {
  height: 250px;
  width: 300px;
  margin-left: 5%; }

.textojapones {
  margin-top: 2%;
  margin-left: 3%; }

.textonosotras {
  margin-top: 4%;
  margin-left: 3%; }

@media only screen and (max-width: 700px) {
  .textojapones {
    margin: auto; }
  .textonosotras {
    margin: auto; } }

/* Contacto */
.paginacontacto {
  display: flex;
  justify-content: space-evenly;
  padding: 2%; }

.subtitulocontacto {
  text-decoration: underline;
  padding: 2%; }

.mapa {
  height: 450px;
  width: 450px;
  border-radius: 8%; }

.formulario {
  border: 5px solid #ee9259;
  height: 400px;
  width: 300px;
  padding: 2%; }
  .formulario__tabla {
    list-style: none; }

.h2contacto {
  text-decoration: underline;
  padding: 2%; }

@media only screen and (max-width: 600px) {
  .paginacontacto {
    display: flex;
    flex-wrap: wrap;
    padding: 2%; }
  .mapa {
    height: 300px;
    width: 300px;
    display: flex;
    margin: auto; }
  .formulario {
    display: flex;
    margin: auto; } }

.imgprod {
  height: 500px;
  width: 800px;
  margin: auto;
  align-content: center;
  display: block; }

.galeria1 {
  height: 600px;
  width: 1000px;
  display: flex;
  margin: auto; }

.carousel-caption {
  background-image: linear-gradient(to right, #ee9259, white, #ee9259);
  opacity: 80%;
  border-radius: 5%;
  color: #080707;
  height: 200px;
  width: 600px;
  align-content: center;
  margin: auto;
  display: block; }

@media only screen and (max-width: 450px) {
  .galeria1 {
    height: 880px;
    width: 319px;
    display: flex; }
  .carousel-item {
    position: absolute; }
  .imgprod {
    height: 400px;
    width: 300px; }
  .carousel-caption {
    height: 450px;
    width: 200px;
    position: relative;
    margin-top: 20px; } }

/* Ofertas */
.galofertas {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 20px;
  justify-content: center; }

.divofertas {
  position: relative; }

.imgofertas {
  height: 300px;
  width: 300px;
  position: relative; }

.textoofertas {
  background-color: #bb6631;
  color: #080707;
  display: flex;
  justify-content: center;
  border: solid 2px black;
  opacity: 75%;
  font-size: 30px; }

@media only screen and (max-width: 700px) {
  .galofertas {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 5%; }
  .divofertas {
    margin: auto;
    padding: 3%; }
  .textoofertas {
    padding: 5%;
    margin: auto;
    height: 150px;
    width: 300px; }
  .imgofertas {
    margin: auto; } }
