body{
    background-image:linear-gradient(to top,rgb(247, 188, 151),rgb(248, 133, 62),rgb(248, 133, 62), rgb(238, 177, 139));
    color: rgb(8, 7, 7);
    font-family: 'Quicksand', sans-serif;
    display: grid;
    grid-template-areas: 
    "cabecera cabecera cabecera cabecera"
    "cuerpo cuerpo cuerpo cuerpo"
    "cuerpo cuerpo cuerpo cuerpo"
    "cuerpo cuerpo cuerpo cuerpo"
    "pie pie pie pie" 
    ;
    gap: 5%;
}

header{
    grid-area: cabecera;

}
main{
    grid-area: cuerpo;
}
footer{
    grid-area: pie;
    background-image: linear-gradient(to right, rgb(241, 195, 193),rgb(238, 177, 139),rgb(238, 146, 89));
}
.caption{
    height: 350px;
    width: 350px;
    margin: auto;
}
.nav-link{
    color: black;
}

.text-white{
    margin: auto;
    height: 20px;
    width: 250px;
 }

.active{
    background-color: green green;
}
.barraprincipal{
    background-image: linear-gradient(to right, rgb(241, 195, 193),rgb(238, 177, 139),rgb(238, 146, 89));    list-style: none;
    border: 3px solid black;
    font-style: sans-serif;
    font-size: 19px;
/*     text-align: center;
    justify-content: center; */
}

.barra{
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.logoprincipalsuperior{
    display: flex;
}

.imgNakama{
    height:150px;
    width: 300px;
    margin: auto;
}

h1{
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 1%;

}


.textoindex{
    text-align:center;
    margin: 1%;
}

.textoindex__resaltado{
    text-decoration: underline;
    font-weight: bold;
}

.textoconocenos{
    text-align:justify;
    margin:20px 20px 20px 20px;
}

.textoconocenos__resaltado{
    text-decoration: underline;
    font-weight: bold;
}

.subtituloproductos{
    text-decoration: underline;
    margin:auto;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.tablaproductos{
    background-color: rgb(238, 146, 89);
    margin: auto;
    border: 5px solid black;
    margin-top: 2%;
}

.fin{
    display: flex;
    justify-content: space-evenly;
}

.barraprincipal__inferior{
    list-style: none;

}

.listafooter{
    list-style: none;

}

.barrainferior{
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0 solid black;
    width: 100px;
    text-align: center;
}


.listafooter__elementos{
    display: block;
    border: 0 solid black;
    transform: scale(0.9,0.9);
    text-align: center;
}

.facebook {
   color: rgb(17, 17, 150);
}

.logof:hover .facebook{
    color: white;
}

.instagram{
    color: rgb(188, 42, 141);
}

.logoi:hover .instagram{
    color: white;
}

.whatsapp{
    color: rgb(13, 87, 13);
}

.logow:hover .whatsapp{
    color: white;
}


.ofertas{
    border: 5px solid rgb(238, 146, 89);
    margin: auto;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 800px;  
    padding: 1%;
}

.mediasimg{
     border: 3px solid rgb(238, 146, 89);
     height: 150px;
     width: 150px; 
}    
     
.sabanasimg{
     border: 3px solid rgb(238, 146, 89);
     height: 150px;
     width: 150px;
    
}

.toallonesimg{
     border: 3px solid rgb(238, 146, 89);
     height: 150px;
     width: 150px;

}

.perfumesimg{
     border: 3px solid rgb(238, 146, 89);
     height: 150px;
     width: 150px;

}

.Medias{
    text-align: center;
    font-weight: bold;
}

.Sabanas{
    text-align: center;
    font-weight: bold;

}

.Toallones{
    text-align: center;
    font-weight: bold;

}

.Perfumes{
    text-align: center;
    font-weight: bold;
}

.subtitulocontacto{
    text-align: center;
    text-decoration: underline;
    padding: 1%;
}

.paginadecontacto{
    display: flex;
    align-content: space-around;
    padding: 2%;
}
.imgproductos{
    width: 300px;
    height: 300px;
}
.mapa{
    height: 450px;
    width: 450px;
    margin:auto;
    display: flex;
}


.formulario{
    border: 5px solid rgb(238, 146, 89);
    width: 300px;
    height: 400px;
    display: flex;
    padding: 2%;
    margin: auto;
    justify-content: center;
}

.h2contacto{
    text-decoration: underline;
    display: flex;
    justify-content: center;
    margin: auto;
}

.formulario__tabla{
    list-style: none;
}

.galeria1{

    display: flex;
    width: 500px;
    height: 300px;
    border: solid 2px black;
    margin: auto;
    align-items: center;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    animation-name: galeria1;
    animation-duration: 50s;
    -o-animation-timing-function: step-start;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;

}

@keyframes galeria1{
    0%{
       background-image: url(./Imagenes/Nakama.jpg);

    }
    10%{
       background-image: url(./Imagenes/Toallones2.jfif);
    }
    20%{
       background-image: url(./Imagenes/Toallones.jfif);
    }
    30%{
       background-image: url(./Imagenes/Localinterno.PNG);
    }
    40%{
       background-image: url(./Imagenes/Medias.png);
    }
    50%{
       background-image: url(./Imagenes/Perfume.jpg);
    }
    60%{
       background-image: url(./Imagenes/Perfumesvarios.jpg);
    }
    70%{
       background-image: url(./Imagenes/Repasadores.PNG);
    }
    80%{
       background-image: url(./Imagenes/Sabanaslocal.PNG);
    }
    90%{
       background-image: url(./Imagenes/Varioslocal.PNG);
    }
    100%{
       background-image: url(./Imagenes/Nakama.jpg);
    }
}

.galeria{
display: flex;
align-items: center;
margin: auto;
width: 600px;
border: 3px solid black;
}


.galeriaprincipal{
    display: flex;
    padding: 5px;
    overflow-x: scroll;
}

.galeriaprincipal::-webkit-scrollbar {
    width: 12px;               
}

.galeriaprincipal::-webkit-scrollbar-track {
    background: rgb(238, 146, 89);        
}
  
.galeriaprincipal::-webkit-scrollbar-thumb {
    background-color: rgb(189, 184, 172);   
    border-radius: 20px;       
    border: 3px solid rgb(238, 146, 89);  
}

.fotoproductos{
    height: 250px;
    width: 250px;
    margin: 1%;
    object-fit: cover;
}

.galeria a{
    font-size: 40px;
    margin: auto;
}

.ofertas a{
    font-size: 40px;
    margin: auto;
    padding: 1%;
}


@media only screen and (max-width:425px){
    h1{
        margin-bottom:8%;}
}

@media only screen and (max-width:700px) {
    .ofertas{
        margin: auto;
        display: block;
        width: 300px;
        overflow-x: scroll;
     }

    .ofertas::-webkit-scrollbar {
        width: 12px;               
    }

    .ofertas::-webkit-scrollbar::-webkit-scrollbar-track {
        background: rgb(238, 146, 89);        
    }
      
    .ofertas::-webkit-scrollbar-thumb {
        background-color: rgb(189, 184, 172);   
        border-radius: 20px;       
        border: 3px solid rgb(238, 146, 89);  
    }

}
@media screen and (max-width:760px) {
    .galeria{
        width: 300px;
    }
    
}
@media screen and (max-width:760px) {
    .galeria1{
        width: 250px;
        height: 250px;
        background-size: 250px 250px;
    }
    
}

@media only screen and (max-width:600px) {
    .mapa{
        height: 300px;
        width: 300px;
    }
    
}


@media only screen and (max-width:600px){
.caption{
    margin: auto;
    height: 250px;
    width: 250px;
    }
}
a{
    text-decoration: none;
    color: black;
}
