*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(189, 184, 172);
    color: rgb(8, 7, 7);
    font-family: 'Quicksand', sans-serif;
    display: grid;
    grid-template-areas: 
    "cabecera cabecera cabecera cabecera"
    "cuerpo cuerpo cuerpo cuerpo"
    "cuerpo cuerpo cuerpo cuerpo"
    "cuerpo cuerpo cuerpo cuerpo"
    "pie pie pie pie" 
    ;
    gap: 5%;
}

header{
    grid-area: cabecera;

}
main{
    grid-area: cuerpo;
}
footer{
    grid-area: pie;
    background-color: rgb(238, 146, 89);
}

.barraprincipal{
    background-color: rgb(238, 146, 89);
    list-style: none;
    border: 3px solid black;
    font-style: sans-serif;
    font-size: 19px;
    text-align: center;
    justify-content: center;
}

.barra{
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.logoprincipalsuperior{
    display: flex;
}

.imgNakama{
    height:150px;
    width: 300px;
    margin: auto;
}

h1{
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 2%;
}


.textoindex{
    text-align:center;
    margin: 1%;
}

.textoindex__resaltado{
    text-decoration: underline;
    font-weight: bold;
}

.textoconocenos{
    text-align:justify;
    margin:20px 20px 20px 20px;
}

.textoconocenos__resaltado{
    text-decoration: underline;
    font-weight: bold;
}

.subtituloproductos{
    text-decoration: underline;
    margin:auto;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.tablaproductos{
    background-color: rgb(238, 146, 89);
    margin: auto;
    border: 5px solid black;
    margin-top: 2%;
}

.fin{
    display: flex;
    justify-content: space-evenly;
}

.barraprincipal__inferior{
    list-style: none;

}

.listafooter{
    list-style: none;

}

.barrainferior{
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0 solid black;
    width: 100px;
    text-align: center;
}


.listafooter__elementos{
    display: block;
    border: 0 solid black;
    width: 100px;
    text-align: center;
}

.facebook {
   color: rgb(17, 17, 150);
}

.listafooter__elementos:hover .facebook{
    color: white;
}

.instagram{
    color: rgb(188, 42, 141);
}

.listafooter__elementos:hover .instagram{
    color: white;
}

.whatsapp{
    color: rgb(13, 87, 13);
}

.listafooter__elementos:hover .whatsapp{
    color: white;
}


.ofertas{
    border: 5px solid rgb(238, 146, 89);
    margin: auto;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 800px;  
    padding: 1%;
}

.mediasimg{
     border: 3px solid rgb(238, 146, 89);
     height: 150px;
     width: 150px; 
}    
     
.sabanasimg{
     border: 3px solid rgb(238, 146, 89);
     height: 150px;
     width: 150px;
    
}

.toallonesimg{
     border: 3px solid rgb(238, 146, 89);
     height: 150px;
     width: 150px;

}

.perfumesimg{
     border: 3px solid rgb(238, 146, 89);
     height: 150px;
     width: 150px;

}

.Medias{
    text-align: center;
    font-weight: bold;
}

.Sabanas{
    text-align: center;
    font-weight: bold;

}

.Toallones{
    text-align: center;
    font-weight: bold;

}

.Perfumes{
    text-align: center;
    font-weight: bold;
}

.subtitulocontacto{
    text-align: center;
    text-decoration: underline;
    padding: 1%;
}

.paginadecontacto{
    display: flex;
    align-content: space-around;
    padding: 2%;
}

.mapa{
    height: 450px;
    width: 450px;
    margin:auto;
    display: flex;
}


.formulario{
    border: 5px solid rgb(238, 146, 89);
    width: 300px;
    height: 150px;
    display: flex;
    padding: 2%;
    margin: auto;
    justify-content: center;
}

.h2contacto{
    text-decoration: underline;
    display: flex;
    justify-content: center;
    margin: auto;
}

.formulario__tabla{
    list-style: none;
}

.galeria{
display: flex;
align-items: center;
margin: auto;
width: 600px;
border: 3px solid black;
}


.galeriaprincipal{
    display: flex;
    padding: 5px;
    overflow-x: scroll;
}

.galeriaprincipal::-webkit-scrollbar {
    width: 12px;               
}

.galeriaprincipal::-webkit-scrollbar-track {
    background: rgb(238, 146, 89);        
}
  
.galeriaprincipal::-webkit-scrollbar-thumb {
    background-color: rgb(189, 184, 172);   
    border-radius: 20px;       
    border: 3px solid rgb(238, 146, 89);  
}

.fotoproductos{
    height: 250px;
    width: 250px;
    margin: 1%;
    object-fit: cover;
}

.galeria a{
    font-size: 40px;
    margin: auto;
}

.ofertas a{
    font-size: 40px;
    margin: auto;
    padding: 1%;
}

@media only screen and (max-width:425px){
    h1{
        margin-bottom:8%;}
}

@media only screen and (max-width:700px) {
    .ofertas{
        margin: auto;
        display: block;
        width: 300px;
        overflow-x: scroll;
     }

    .ofertas::-webkit-scrollbar {
        width: 12px;               
    }

    .ofertas::-webkit-scrollbar::-webkit-scrollbar-track {
        background: rgb(238, 146, 89);        
    }
      
    .ofertas::-webkit-scrollbar-thumb {
        background-color: rgb(189, 184, 172);   
        border-radius: 20px;       
        border: 3px solid rgb(238, 146, 89);  
    }

}
@media screen and (max-width:760px) {
    .galeria{
        width: 300px;
    }
    
}

@media only screen and (max-width:600px) {
    .mapa{
        height: 300px;
        width: 300px;
    }
    
}
a{
    text-decoration: none;
    color: black;
}
