.subconocenos{
    text-decoration: underline;
    margin-bottom: 2%;
    margin-top: 2%;
}

.imgconocenos{

    @include medidas (250px, 300px);
}

.imgnosotras{
    @include medidas (300px, 300px);
}