/* Contacto */

.paginacontacto{
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}
.subtitulocontacto{
        text-decoration: underline;
        padding: 2%;
}

.mapa{
    @include medidas (450px, 450px);
    border-radius: 8%;

}

.formulario{
    border: 5px solid map-get($colores , primario );
    @include medidas (400px, 300px);
    padding: 2%;


    &__tabla{
        list-style: none;
    }
}

.h2contacto{
    text-decoration: underline;
    padding: 2%;

}

@media only screen and (max-width:600px) {
    .paginacontacto{
        display: flex;
        flex-wrap: wrap;
        padding: 2%;
       
    }
    .mapa{
        @include medidas (300px, 300px);
        display: flex;
        margin: auto;
     
    }
    
    .formulario{
        display: flex;
        margin: auto;
      
    }
}