.subconocenos{
    text-decoration: underline;
    margin-bottom: 2%;
    margin-top: 2%;
}

.imgconocenos{
    width: 300px;
    height: 250px;
}

.imgnosotras{
    width: 300px;
    height: 300px;
}