.paginadecontacto{
    display: flex;
    align-content: space-around;
    padding: 2%;
}
.subtitulocontacto{
        text-align: center;
        text-decoration: underline;
        padding: 1%;
}

.mapa{
    @include medidas (450px, 450px);
    border-radius: 8%;
    @include flexbox (auto,flex);
}

.formulario{
    border: 5px solid map-get($colores , primario );
    @include medidas (400px, 300px);
    padding: 2%;
    justify-content: center;
    @include flexbox (auto,flex);

    &__tabla{
        list-style: none;
    }
}

.h2contacto{
    text-decoration: underline;
    justify-content: center;
    @include flexbox (auto,flex);
}

