/* General */
body{
    background-image:linear-gradient(to top,rgb(247, 188, 151),rgb(248, 133, 62),rgb(248, 133, 62), rgb(238, 177, 139));
    color: rgb(8, 7, 7);
    font-family: 'Mali', cursive;
    display: grid;
    grid-template-areas: 
    "cabecera cabecera cabecera cabecera"
    "cuerpo cuerpo cuerpo cuerpo"
    "cuerpo cuerpo cuerpo cuerpo"
    "cuerpo cuerpo cuerpo cuerpo"
    "pie pie pie pie"
    "pie pie pie pie" 
    ;
    gap: 1%;
}

header{
    grid-area: cabecera;

}
main{
    grid-area: cuerpo;
}
footer{
    grid-area: pie;
    background-image: linear-gradient(to right,rgb(238, 177, 139),rgb(238, 146, 89));
}

a{
    text-decoration: none;
    color: map-get($colores , dark );
}

/* Logo superior */

.logoprincipalsuperior{
    display: flex;
}

.imgNakama{
    @include medidas (150px, 300px);
    margin: auto;
    border-radius: 50%;
}

/* Nav */
.barraprincipal{
    background-image: linear-gradient(to right, rgb(241, 195, 193),rgb(238, 177, 139),rgb(238, 146, 89));    list-style: none;
    border: 3px solid map-get($colores , dark );
    font-style: sans-serif;
    font-size: 26px;
}

.nav-link{
    color: map-get($colores , dark );
}

/* Titulos */
h1{
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 2%;
    margin-top: 1%;
    
}

/* Pie de pagina */

.fin{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}

.facebook {
    color: map-get($colores , face );
     
     &:hover .facebook{
     color: white;
    }
}
 
 .instagram{
    color: map-get($colores , insta );
 
    &:hover.instagram{
     color: white;
    }
 }
 
 .whatsapp{
    color: map-get($colores , wp );
    &:hover.whatsapp{
     color: white;
    }
}

.navfinal{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;

    &txt{
            text-decoration: none;
            font-size: 15px;
            color: black;

        &:hover.navfinaltxt{
            text-decoration: none;
            color: black;
        }
    }
}

.cierre{
    margin-top: 1%;
    text-align: center;
    font-size: 15px;
    border-top: solid 5px map-get($colores , secundario );

    }


/* Media queries */


@media only screen and (max-width:425px){
    h1{
        margin-bottom:8%;}
}

