/* INDEX */

.logoindex{
      @include medidas (300px, 500px);
      border: solid 3px black;
      margin: auto;
      display: flex;
      padding: 2px;
}
.inicionakama{
   @include medidas (290px, 490px);
   align-items: center;
}


.textoindex{
      text-align:center;
      margin: 1%;
}

.previewindex{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.card {
   @include medidas  (320px , 200px);
   align-content: center;
   background-color: map-get($colores, tercero );
   padding: 10px;
   &:hover{
      background-color: map-get($colores, oscuro );
   }
    &Img{
      margin:auto;
      @include medidas (200px , 200px) ;

   }
}

@media only screen and (max-width: 700px){
   .logoindex{
          @include medidas (200px , 300px);
       }
   .inicionakama{
          @include medidas (190px , 290px);
       }
   .previewindex{
          margin: auto;
          display: flex;
          flex-wrap: wrap;
        }
}
 