/* Ofertas */
.galofertas{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 20px;
    justify-content: center;
}
.divofertas{
    position: relative;
    
}
.imgofertas{
    @include medidas (300px, 300px);
    position: relative;
}
.textoofertas{
    background-color: map-get($colores, oscuro );
    color: map-get($colores, dark );
    display: flex;
    justify-content: center;
    border: solid 2px black;
    opacity: 75%;
    font-size: 30px;
}

@media only screen and (max-width:700px) {
    .galofertas{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding: 5%;
    }
    .divofertas{
        margin: auto;
        padding: 3%;
    }

    .textoofertas{
        padding: 5%;
        margin: auto;
        @include medidas(150px , 300px)
        }

    .imgofertas{
        margin: auto;
    }
}