.imgprod{
    @include medidas (500px, 800px);
    margin: auto;
    display: flex;
    align-content: center;
}

.galeria1{
    @include medidas (600px, 1000px);
    display: flex;
    margin: auto;
}
.carousel-caption{
    background-image: linear-gradient(to right, rgb(238, 146, 89), rgb(255, 255, 255), rgb(238, 146, 89));
    opacity: 80%;
    border-radius: 5%;
    color: map-get($colores , dark );
    @include medidas (200px, 600px);
    align-content: center;
    margin: auto;

}

@media only screen and (max-width:450px) {
    .galeria1{
        @include medidas (600px, 319px);
        margin-bottom: 10px;
                 
    }
    
    .imgprod{
        @include medidas (400px, 280px);

        
        

    }
   .carousel-caption{
    @include medidas (100px, 260px);


   }
}