.galeria{
    @include flexbox (auto,flex);
    align-items: center;
    width: 600px;
    border: 3px solid black;
    margin-bottom: 3%;

    & a{
        font-size: 40px;
        margin: auto;
    }

    &principal{
        display: flex;
        padding: 5px;
        overflow-x: scroll;

        
        &::-webkit-scrollbar {
            width: 12px;               
        }

        &::-webkit-scrollbar-track {
            background:map-get($colores , primario );  
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: map-get($colores , secundario );   
            border-radius: 20px;       
            border: 3px solid map-get($colores , primario );  
        }
    }

}
.fotoproductos{
    @include medidas (250px, 250px);
    margin: 1%;
    object-fit: cover;
}

.subproductos{
    margin-top: 6%;
    text-decoration: underline;
}

.imgproductos{
    @include medidas (300px, 300px);
}

.subtituloproductos{
    text-decoration: underline;
    @include flexbox (auto,flex);
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
}

.tablaproductos{
    background-color: map-get($colores , primario );
    margin: auto;
    border: 5px solid map-get($colores , dark );
    margin-top: 1%;

    .td{
    border: 2px solid map-get($colores , dark );
    padding: 1%;
    }
}
